body {
  /*font-family: 'Prata', sans-serif;*/
  /*241e4e-ef5d60-ec4067-6a6262-9c9990*/
  font-family: 'Pontano Sans', serif;
}

.shelf {
  display: flex;
}

.book {
  border: 1px solid #9c9990;
  margin: 10px;
}

.book_cover { 
  object-fit: contain;
}

img {
  height: 200px;
  width: 150px;
}
